.ipynb_checkpoints
.vscode
# Ignore macOS temporary files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fseventsd
*~
# Ignore data for analysis (can be provided on demand)
analysis/actiwear_20241017.csv
#illustration for reviewing
analysis/steps_per_minute.csv       
analysis/calories_per_minute.csv
