.ipynb_checkpoints
.vscode
# Ignore macOS temporary files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fseventsd
*~

# data used in "analysis/"
actiwear_20241017.csv
calories_per_minute.csv
calories_per_minutes.csv
steps_per_minute.csv
steps_per_minutes.csv